<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionforadtdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/50b32047-9091-4bd9-b9b2-c28c0a594202/resourceGroups/MR_IoTHomeDevKit/providers/Microsoft.Web/sites/FunctionForADTDemo</ResourceId>
    <UserName>$FunctionForADTDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionforadtdemo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>