<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jerry-adt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a2db8dd1-f4da-49db-ae40-276fb466c466/resourceGroups/JerryGroup/providers/Microsoft.Web/sites/Jerry-ADT</ResourceId>
    <UserName>$Jerry-ADT</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jerry-adt.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>